<!DOCTYPE html>
<html lang="en">
 
<head>
    <%- include('../partials/head') %>
</head>

<body>
    <a href="/products/create">Crear un nuevo producto!</a>

    <% productos.forEach(producto => { %>
        <article>
            <h1><%= producto.title %></h1>
            <p><%= producto.price %></p>
            <a href="/products/<%= producto.id %>/detail"><button>Ver detalles del producto</button></a>
            <img src="<%= producto.img %>" alt="">
            <br>
        </article>
    <% }) %>


</body>
</html>